---
---

@import "{{ site.theme }}";

body, td, tr
{
  background-color: #1f1f1f;
  color: #e3e3e3;
}


th
{
  background-color: #444444;
  color: #e3e3e3;
}

a
{
  color: #b34f4b;
}

pre
{
  color: black;
}

[type="checkbox"]
{
  margin-right:.33em
}
